/CalculadoraMedia/nbproject/private/
/CalculadoraMedia/build/
/GerenciadorAvaliacoes/nbproject/private/
/GerenciadorAvaliacoes/build/
/GerenciadorAvaliacoes/dist/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/